/* ===============
 * table样式设置
 * =============== */
.table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.table thead th {
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
}
.table-round {
    border-collapse: separate;
    border-radius: 5px;
}
.table-border {
    border: 1px solid #bbb;
}
.table-border th {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5fafe;
   	white-space: nowrap;
}
.table-border th:last-child {
    border-right: none;
}
.table tbody td {
    padding: 8px;
    font-size: 13px;
    white-space: normal;
    word-break: break-word;
}
.table-border td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.table-border tr:last-child td {
    border-bottom: none;
}
.table-border tbody tr td:last-child {
    border-right: none;
}
.table tbody tr:hover {
    background-color: #f4f4f4;
}
.table .tc {
	text-align: center;
	vertical-align: middle;
}
